<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 针式打印机 -->
    <bean id="pinPrinter" class="Spring01.PinPrinter"></bean>
    <!-- 激光打印机 -->
    <bean id="LaserPrinter" class="Spring01.LaserPrinter"></bean>

</beans>